#social-media {
    background-color: aquamarine;
}
.media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1 rem;
    border: 2px solid blanchedalmond;
    border-radius: 0.5rem;
}